* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


// infoText---

.container {
    padding-top: 20px;
    text-align: center;
}

.textStyle {
    font-size: 2em;
    font-weight: bold;
    font-family: $siteFont;
    background-color: #8cbf3f36;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

.aboutUsInfo {
    font-size: 1em;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: $siteFont;
    text-shadow: 1px 1px 5px black;
    padding: 25px;
    background-color: #8cbf3f36;
    word-spacing: 4px;
    border-radius: 20px;
    

    @include desktop {
        font-size: 1.6em;
    }
}

.textStyle2 {
    font-size: 1.7em;
    font-weight: bold;
    font-family: $siteFont;
    background-color: #9453a638;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

.aboutUsInfo2 {
    font-size: 1em;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: $siteFont;
    text-shadow: 1px 1px 5px black;
    padding: 25px;
    background-color: #9453a638;
    word-spacing: 4px;
    border-radius: 20px;

    @include desktop {
        font-size: 1.6em;
    }
}

// img latoyaImage---

.latoyaImage {
    width: 50%;
    height: 50%;
    margin-top: 35px;
    border-radius: 100px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);

    @include desktop {
        width: 20%;
        height: 20%;
    }
}

// sponsersBox---

.sponsersBox {
    background-color: #f2cc0f41;
    height: 20vh;
}