@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");
:root {
  --success: #2c7;
  --error: #e43;
}

.card1 {
  width: 200px;
  height: 250px;
  background: url("../images/imgN2.jpg") center no-repeat;
  background-size: cover;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 4px;
  position: relative;
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform 0.5s;
}

.card2 {
  width: 200px;
  height: 250px;
  background: url("../images/imgN3.jpg") center no-repeat;
  background-size: cover;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 4px;
  position: relative;
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform 0.5s;
}

.card3 {
  width: 200px;
  height: 250px;
  background: url("../images/imgN1.jpg") center no-repeat;
  background-size: cover;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 4px;
  position: relative;
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform 0.5s;
}

.card1:hover {
  transform: translateZ(10px) rotateX(20deg) rotateY(30deg);
}

.card2:hover {
  transform: translateZ(10px) rotateX(20deg) rotateY(30deg);
}

.card3:hover {
  transform: translateZ(10px) rotateX(20deg) rotateY(30deg);
}

.card-title {
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  transition: transform 0.5s;
}

.card:hover .card-title {
  transform: translateZ(50px);
}

.cardsFlow {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.logoHover .perspective-text {
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
}
.logoHover .perspective-line {
  height: 50px;
  overflow: hidden;
  position: relative;
}
.logoHover p {
  margin: 0;
  height: 50px;
  line-height: 50px;
  transition: all 0.5s ease-in-out;
}
.logoHover .perspective-line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.667);
  border-radius: 40px 40px;
}
.logoHover .perspective-line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.337);
  border-radius: 40px 40px;
}
.logoHover .perspective-text:hover p {
  transform: translate(0, -50px);
  border-radius: 40px 40px;
}
.logoHover .perspective-line:nth-child(1) {
  left: 29px;
}
.logoHover .perspective-line:nth-child(2) {
  left: 58px;
  background: rgb(111, 46, 172);
}
.logoHover .perspective-line:nth-child(3) {
  left: 87px;
  background: #8cbf3f;
}
.logoHover .perspective-line:nth-child(4) {
  left: 116px;
  background: #f2cc0f;
}
.logoHover .perspective-line:nth-child(5) {
  left: 145px;
}

.sponsers button {
  display: block;
  margin: 20px auto;
  background-color: #9453a6;
  color: #fff;
  border: 0;
  padding: 6px 12px;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
}
.sponsers .weapperr {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  overflow: auto;
}
.sponsers .popup {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 300px;
  margin: 10% auto;
  background-color: #fff;
  padding: 20px;
  position: relative;
  border-radius: 10px;
}
.sponsers .popup a {
  background-color: #8cbf3f;
  color: white;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 5px;
}
.sponsers .close {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}
.sponsers .sponserImageSizeing {
  height: 150px;
  width: 150px;
}

.contact .userStory {
  text-align: center;
}
.contact .submitButton {
  color: #9453a6;
}
.contact h2 {
  text-align: center;
  font-family: "Roboto display";
}
.contact .formControl {
  color: rgb(7, 7, 7);
  font-weight: bold;
  margin-bottom: 3px;
  text-align: center;
  font-family: "Roboto display";
  font-size: 1.5em;
}
.contact .formControl input {
  border: 2px solid rgb(131, 131, 131);
  border-radius: 3px;
  width: 100%;
  padding: 5px;
  font-size: 1.1rem;
}
.contact .formControl input:focus {
  outline: 0;
  border-color: rgb(58, 58, 58);
}
.contact .formControl.success input {
  border-color: var(--success);
}
.contact .formControl.error input {
  border-color: var(--error);
}
.contact .formControl small {
  color: var(--error);
  visibility: hidden;
}
.contact .formControl.error small {
  visibility: visible;
}
.contact input[type=submit] {
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px;
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.styleNavBarbar {
  background-color: #fdf8e5;
  box-shadow: 0 5px 10px -2px rgb(122, 122, 122);
  background-image: url(../images/navbarImage.png);
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  border-radius: 0 0 50px 50px;
  width: 100vw;
}
.styleNavBarbar .navBarButtonRaduis {
  border-radius: 50px 50px 50px 50px;
}
@media (min-width: 576px) {
  .styleNavBarbar {
    background-color: #f2f2f2;
    border-radius: 0 0 0 0;
  }
  .styleNavBarbar .navBarButtonRaduis {
    border-radius: 0 0 0 0;
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  font-size: 0.9em;
  background-color: #f2f2f2;
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 50px 50px 0 0;
  opacity: 65%;
}
@media (min-width: 576px) {
  .footer {
    border-radius: 0 0 0 0;
  }
}

.cardsOverAllStyle .card1,
.cardsOverAllStyle .card2,
.cardsOverAllStyle .card3 {
  border-radius: 20px 20px 20px 20px;
  width: 100px;
  height: 100px;
}
.cardsOverAllStyle .cardsFlow {
  padding-top: 35px;
}
@media (min-width: 576px) {
  .cardsOverAllStyle {
    display: none;
  }
}

.mainTextArea {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Roboto", sans-serif;
  text-shadow: 1px 1px 5px black;
  padding: 25px;
}

.logoHover {
  width: 150px;
}
@media (min-width: 576px) {
  .logoHover {
    display: none;
  }
}

.lowInfo,
.desktopOnly {
  display: none;
}

.caruselImages2 {
  display: none;
}
@media (min-width: 576px) {
  .caruselImages2 {
    display: initial;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding-top: 20px;
  text-align: center;
}

.textStyle {
  font-size: 2em;
  font-weight: bold;
  font-family: "Roboto";
  background-color: rgba(140, 191, 63, 0.2117647059);
  color: rgb(255, 255, 255);
  border-radius: 10px;
}

.aboutUsInfo {
  font-size: 1em;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Roboto";
  text-shadow: 1px 1px 5px black;
  padding: 25px;
  background-color: rgba(140, 191, 63, 0.2117647059);
  word-spacing: 4px;
  border-radius: 20px;
}
@media (min-width: 576px) {
  .aboutUsInfo {
    font-size: 1.6em;
  }
}

.textStyle2 {
  font-size: 1.7em;
  font-weight: bold;
  font-family: "Roboto";
  background-color: rgba(148, 83, 166, 0.2196078431);
  color: rgb(255, 255, 255);
  border-radius: 10px;
}

.aboutUsInfo2 {
  font-size: 1em;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Roboto";
  text-shadow: 1px 1px 5px black;
  padding: 25px;
  background-color: rgba(148, 83, 166, 0.2196078431);
  word-spacing: 4px;
  border-radius: 20px;
}
@media (min-width: 576px) {
  .aboutUsInfo2 {
    font-size: 1.6em;
  }
}

.latoyaImage {
  width: 50%;
  height: 50%;
  margin-top: 35px;
  border-radius: 100px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
}
@media (min-width: 576px) {
  .latoyaImage {
    width: 20%;
    height: 20%;
  }
}

.sponsersBox {
  background-color: rgba(242, 204, 15, 0.2549019608);
  height: 20vh;
}

main {
  padding-top: 30px;
  width: 80%;
  margin: 0 auto;
}

.userName,
.lastName,
.Email {
  display: none;
}

@media (min-width: 576px) {
  .userName,
.lastName,
.Email {
    display: initial;
  }
}

.contact {
  display: flex;
  justify-content: center;
}

.stylingFormContact {
  width: 60%;
}

.textArea {
  width: 80%;
}

input {
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.541);
}

#userName,
#lastName,
#email {
  font-size: 0.55em;
  border-radius: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.container {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.iframe-container {
  margin-top: 35px;
}

@media (min-width: 576px) {
  .iframe-container {
    margin-top: -300px;
  }
}

.gallry {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  margin: 0 auto;
}

.gallry img {
  width: 250px;
}

.iframe-container {
  display: flex;
  justify-content: center;
  min-height: 30vh;
  margin-bottom: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.styleNavBarbar {
  font-family: "Henny Penny", cursive;
  font-weight: bold;
  text-align: center;
}

body {
  width: 100vw;
  padding-bottom: 45px;
  background-image: url(../images/backgroundImage.jpg);
  background-position: center;
  background-size: cover;
}
@media (min-width: 576px) {
  body .allThePage {
    width: 80vw;
    margin: 0 auto;
  }
}

.shadowP {
  margin-top: 10px;
}

.hrStyle {
  border: 8px solid #9453a6;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
  margin: 10px;
}

.centerHr {
  display: flex;
  justify-content: center;
}

.hrStyle1 {
  border: 8px solid #8cbf3f;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
  margin: 10px;
}

.hrStyle2 {
  border: 8px solid #f2cc0f;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
  margin: 10px;
}/*# sourceMappingURL=style.css.map */